## Step 0 : Verifications

---

## 1. Imports

In [1]:
import pandas as pd

---

## 2. Comparison between Train and Test set in Benign Data...

In [2]:
Btrain = pd.read_csv(r"C:\Users\Usuario\Documents\Github\PDG\PDG-2\Datasets\Time Window\Originals\Benigns v2\BeningTimeWindowsStratosphere.csv", delimiter = ",")

In [10]:
Btrain.head()

,Name,Netflows,First_Protocol,Second_Protocol,Third_Protocol,p1_d,p2_d,p3_d,duration,max_d,...,first_dp,second_dp,third_dp,p1_ip,p2_ip,p3_ip,p1_ib,p2_ib,p3_ib,Type
0,1-csves/0.csv,7846,UDP,TCP,NaN,0.0,0.0,9.971,170718.308,291.654,...,53,80.0,443.0,1.0,1.0,8.0,52.0,210.0,494.0,Benign
1,1-csves/1.csv,10044,UDP,TCP,ICMP,0.0,0.0,7.072,144468.294,291.495,...,53,443.0,80.0,1.0,1.0,4.0,49.0,155.0,430.0,Benign
2,1-csves/2.csv,7852,UDP,TCP,NaN,0.0,0.0,16.452,186441.984,296.048,...,53,80.0,443.0,1.0,1.0,10.0,52.0,211.0,634.0,Benign
3,1-csves/3.csv,5380,UDP,TCP,ICMP,0.0,0.0,7.917,99154.208,291.025,...,53,443.0,80.0,1.0,1.0,7.0,52.0,193.0,435.0,Benign
4,1-csves/4.csv,6660,UDP,TCP,ICMP,0.0,0.0,8.056,134871.434,291.589,...,53,80.0,443.0,1.0,1.0,6.0,51.0,199.0,434.0,Benign

In [12]:
Btrain.tail()

,Name,Netflows,First_Protocol,Second_Protocol,Third_Protocol,p1_d,p2_d,p3_d,duration,max_d,...,first_dp,second_dp,third_dp,p1_ip,p2_ip,p3_ip,p1_ib,p2_ib,p3_ib,Type
514,18-csves/18.csv,402,UDP,NaN,NaN,0.0,0.0,0.0,0.0,0.0,...,53,50638.0,41515.0,1.0,1.0,1.0,41.0,52.0,99.00,Benign
515,18-csves/19.csv,156,UDP,NaN,NaN,0.0,0.0,0.0,0.0,0.0,...,53,37433.0,48679.0,1.0,1.0,1.0,41.0,61.0,102.00,Benign
516,18-csves/20.csv,680,UDP,NaN,NaN,0.0,0.0,0.0,0.0,0.0,...,53,49661.0,45450.0,1.0,1.0,1.0,45.0,63.0,102.75,Benign
517,18-csves/21.csv,164,UDP,NaN,NaN,0.0,0.0,0.0,0.0,0.0,...,53,37256.0,44262.0,1.0,1.0,1.0,41.0,53.0,96.00,Benign
518,18-csves/22.csv,1070,UDP,NaN,NaN,0.0,0.0,0.0,0.0,0.0,...,53,45995.0,46421.0,1.0,1.0,1.0,45.0,55.0,109.00,Benign

In [3]:
Btest = pd.read_csv(r"C:\Users\Usuario\Documents\Github\PDG\PDG-2\Datasets\Time Window\TEST\testB1.csv", delimiter = ",")

In [11]:
Btest.head()

,Name,Netflows,First_Protocol,Second_Protocol,Third_Protocol,p1_d,p2_d,p3_d,duration,max_d,...,first_dp,second_dp,third_dp,p1_ip,p2_ip,p3_ip,p1_ib,p2_ib,p3_ib,Type
0,23-csves/0.csv,194,UDP,TCP,IGMP,0.0,0.000,10.20150,10324.970,299.971,...,443,1900,52122,1.0,1.0,9.0,40.25,97.5,1074.50,Benign
1,23-csves/1.csv,166,UDP,TCP,IGMP,0.0,0.033,124.86375,11250.986,284.470,...,443,52122,1900,1.0,2.0,10.0,37.00,136.5,1304.75,Benign
2,23-csves/2.csv,161,UDP,TCP,IGMP,0.0,0.000,15.16900,9879.502,299.979,...,443,1900,52122,1.0,1.0,10.0,37.00,133.0,1084.00,Benign
3,23-csves/3.csv,263,UDP,TCP,ICMP,0.0,0.000,7.30350,11424.463,299.994,...,443,1900,0,1.0,1.0,10.0,40.00,100.0,1152.50,Benign
4,23-csves/4.csv,177,UDP,TCP,IGMP,0.0,0.000,65.46600,10823.177,299.989,...,443,52122,1900,1.0,2.0,10.0,37.00,126.0,1104.00,Benign

In [13]:
Btest.tail()

,Name,Netflows,First_Protocol,Second_Protocol,Third_Protocol,p1_d,p2_d,p3_d,duration,max_d,...,first_dp,second_dp,third_dp,p1_ip,p2_ip,p3_ip,p1_ib,p2_ib,p3_ib,Type
628,43-csves/78.csv,374,UDP,TCP,IGMP,0.0,0.0000,2.44700,7019.255,299.909,...,53,443,1900,1.0,1.0,9.0,55.0,114.0,1488.0,Benign
629,43-csves/79.csv,326,UDP,TCP,IGMP,0.0,0.0185,3.52925,6796.604,292.319,...,443,53,56214,1.0,2.0,9.0,46.0,135.0,2297.5,Benign
630,43-csves/80.csv,137,UDP,TCP,IGMP,0.0,0.0000,10.28600,5081.267,280.185,...,443,56214,1900,1.0,1.0,9.0,37.0,95.0,962.0,Benign
631,43-csves/81.csv,399,UDP,TCP,IGMP,0.0,0.0000,0.20100,8195.647,292.918,...,443,53,56214,1.0,1.0,5.0,41.0,75.0,1402.0,Benign
632,43-csves/82.csv,146,UDP,TCP,IGMP,0.0,0.0000,7.20775,5090.720,283.361,...,443,1900,56214,1.0,1.0,8.0,37.0,133.0,1387.5,Benign

In [4]:
Btest.merge(Btrain)

Empty DataFrame
Columns: [Name, Netflows, First_Protocol, Second_Protocol, Third_Protocol, p1_d, p2_d, p3_d, duration, max_d, min_d, packets, Avg_bps, Avg_pps, Avg_bpp, Bytes, number_sp, number_dp, first_sp, second_sp, third_sp, first_dp, second_dp, third_dp, p1_ip, p2_ip, p3_ip, p1_ib, p2_ib, p3_ib, Type]
Index: []

[0 rows x 31 columns]

In [5]:
Btrain.merge(Btest)

Empty DataFrame
Columns: [Name, Netflows, First_Protocol, Second_Protocol, Third_Protocol, p1_d, p2_d, p3_d, duration, max_d, min_d, packets, Avg_bps, Avg_pps, Avg_bpp, Bytes, number_sp, number_dp, first_sp, second_sp, third_sp, first_dp, second_dp, third_dp, p1_ip, p2_ip, p3_ip, p1_ib, p2_ib, p3_ib, Type]
Index: []

[0 rows x 31 columns]

---

## 3. Comparison between Train and Test set in Malign Data

In [6]:
Mtrain = pd.read_csv(r"C:\Users\Usuario\Documents\Github\PDG\PDG-2\Datasets\Time Window\Originals\Maligns v2\MalignTimeWindowsStratosphere.csv",
                                          delimiter = ",")

In [15]:
Mtrain.head()

,Name,Netflows,First_Protocol,Second_Protocol,Third_Protocol,p1_d,p2_d,p3_d,duration,max_d,...,first_dp,second_dp,third_dp,p1_ip,p2_ip,p3_ip,p1_ib,p2_ib,p3_ib,Type
0,32-csves/3257.csv,174,NaN,IGMP,ICMP6,0.00000,0.000,0.00000,0.000,0.000,...,0,34304.0,NaN,1.00,1.0,1.00,32.0,32.0,32.0,Malign
1,1-csves/4317.csv,270,NaN,IGMP,UDP,0.00000,0.000,0.00000,18.242,3.046,...,0,34560.0,1900.0,1.00,1.0,1.00,32.0,32.0,32.0,Malign
2,9-csves/7488.csv,320,NaN,ICMP6,IGMP,0.00000,0.000,0.00000,0.000,0.000,...,0,34560.0,34304.0,1.00,1.0,1.00,32.0,32.0,32.0,Malign
3,8-csves/3288.csv,256,NaN,ICMP6,IGMP,0.00000,0.000,0.00000,1161.318,290.454,...,0,34560.0,1281.0,1.00,1.0,1.00,32.0,32.0,32.0,Malign
4,79-csves/2249.csv,6,TCP,NaN,NaN,0.00725,0.026,95.67875,255.180,127.563,...,443,51047.0,51048.0,3.75,6.5,9.25,287.5,675.0,2373.5,Malign

In [14]:
Mtrain.tail()

,Name,Netflows,First_Protocol,Second_Protocol,Third_Protocol,p1_d,p2_d,p3_d,duration,max_d,...,first_dp,second_dp,third_dp,p1_ip,p2_ip,p3_ip,p1_ib,p2_ib,p3_ib,Type
193629,26-csves/10471.csv,382,NaN,ICMP6,IGMP,0.0,0.0,0.0,568.204,130.545,...,0,34560.0,1900.0,1.0,1.0,1.0,32.0,32.0,32.0,Malign
193630,29-csves/11325.csv,340,NaN,ICMP6,UDP,0.0,0.0,0.0,36.980,4.389,...,0,34560.0,34816.0,1.0,1.0,1.0,32.0,32.0,32.0,Malign
193631,5-csves/4279.csv,330,NaN,ICMP6,IGMP,0.0,0.0,0.0,0.000,0.000,...,0,34560.0,34304.0,1.0,1.0,1.0,32.0,32.0,32.0,Malign
193632,6-csves/2064.csv,236,NaN,UDP,ICMP6,0.0,0.0,0.0,37.096,2.432,...,0,137.0,34560.0,1.0,1.0,1.0,32.0,32.0,32.0,Malign
193633,8-csves/856.csv,252,NaN,ICMP6,ICMP,0.0,0.0,0.0,1133.178,283.425,...,0,34560.0,1281.0,1.0,1.0,1.0,32.0,32.0,32.0,Malign

In [7]:
Mtest = malign_dataset = pd.read_csv(r"C:\Users\Usuario\Documents\Github\PDG\PDG-2\Datasets\Time Window\TEST\testM1.csv", delimiter = ",")

In [16]:
Mtest.head()

,Name,Netflows,First_Protocol,Second_Protocol,Third_Protocol,p1_d,p2_d,p3_d,duration,max_d,...,first_dp,second_dp,third_dp,p1_ip,p2_ip,p3_ip,p1_ib,p2_ib,p3_ib,Type
0,32-csves/837.csv,111,NaN,IGMP,ICMP6,0.0000,0.0000,0.000,0.000,0.000,...,0,34304.0,NaN,1.00,1.0,1.0,32.0,32.0,32.00,Malign
1,23-csves/524.csv,190,NaN,IGMP,ICMP6,0.0000,0.0000,0.000,535.268,130.816,...,0,34560.0,1900.0,1.00,1.0,1.0,32.0,32.0,32.00,Malign
2,80-csves/2882.csv,6,TCP,NaN,NaN,0.0045,0.0185,95.458,254.579,127.271,...,443,52330.0,52331.0,3.75,6.5,8.5,263.5,665.0,2367.75,Malign
3,1-csves/4548.csv,316,NaN,UDP,IGMP,0.0000,0.0000,0.000,42.548,3.030,...,0,137.0,5355.0,1.00,1.0,1.0,32.0,32.0,32.00,Malign
4,5-csves/1348.csv,222,NaN,ICMP6,IGMP,0.0000,0.0000,0.000,0.000,0.000,...,0,34560.0,34304.0,1.00,1.0,1.0,32.0,32.0,32.00,Malign

In [17]:
Mtest.tail()

,Name,Netflows,First_Protocol,Second_Protocol,Third_Protocol,p1_d,p2_d,p3_d,duration,max_d,...,first_dp,second_dp,third_dp,p1_ip,p2_ip,p3_ip,p1_ib,p2_ib,p3_ib,Type
64539,24-csves/8768.csv,194,NaN,IGMP,TCP,0.00000,0.0000,0.00000,564.976,129.236,...,0,34560.0,1281.0,1.00,1.0,1.00,32.0,32.0,32.0,Malign
64540,65-csves/1631.csv,18,TCP,ICMP,NaN,0.00000,0.0005,1.03500,260.977,127.342,...,1281,443.0,50483.0,1.00,2.5,3.75,60.0,60.0,466.5,Malign
64541,65-csves/2243.csv,20,TCP,ICMP,NaN,0.00000,0.0145,1.02450,260.474,127.253,...,1281,443.0,56337.0,1.00,3.0,3.50,60.0,60.0,287.5,Malign
64542,29-csves/5677.csv,224,NaN,ICMP6,UDP,0.00000,0.0000,0.00000,12.572,3.002,...,0,34560.0,34816.0,1.00,1.0,1.00,32.0,32.0,32.0,Malign
64543,76-csves/3426.csv,22,TCP,ICMP,NaN,0.00475,0.0255,0.23225,63.534,30.539,...,8080,443.0,62728.0,1.25,4.5,5.00,88.5,591.5,784.0,Malign

In [8]:
Mtest.merge(Mtrain)

Empty DataFrame
Columns: [Name, Netflows, First_Protocol, Second_Protocol, Third_Protocol, p1_d, p2_d, p3_d, duration, max_d, min_d, packets, Avg_bps, Avg_pps, Avg_bpp, Bytes, number_sp, number_dp, first_sp, second_sp, third_sp, first_dp, second_dp, third_dp, p1_ip, p2_ip, p3_ip, p1_ib, p2_ib, p3_ib, Type]
Index: []

[0 rows x 31 columns]

In [9]:
Mtrain.merge(Mtest)

Empty DataFrame
Columns: [Name, Netflows, First_Protocol, Second_Protocol, Third_Protocol, p1_d, p2_d, p3_d, duration, max_d, min_d, packets, Avg_bps, Avg_pps, Avg_bpp, Bytes, number_sp, number_dp, first_sp, second_sp, third_sp, first_dp, second_dp, third_dp, p1_ip, p2_ip, p3_ip, p1_ib, p2_ib, p3_ib, Type]
Index: []

[0 rows x 31 columns]